<launch>
  <!-- upload or not upload the avatar description, in case one is already uploaded -->
  <arg name="upload" default="true" />
  
   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find iai_avatar_description)/launch/rviz/config.rviz"
          required="true"/>

  <!-- occupancy map -->
  <include file="$(find iai_maps)/launch/map.launch" />
  <include file="$(find iai_maps)/launch/room.launch" />
  <include file="$(find iai_kitchen)/launch/upload_kitchen_obj.launch" />

  <!-- Avatar URDF -->
  <group if="$(arg upload)">
           <include file="$(find iai_avatar_description)/launch/avatar.launch"/>
  </group>

</launch>
